<div class="col-md-12">  
    <br/>  
    <br/> 
  <div class="search list"><input formControlName="" placeholder="search.." name="search" class="form-control" id="search">  
  Sort:<button class="btn-filter">First Name</button ><button class="btn-filter">Last Name</button><button class="btn-filter">Id</button></div>
  <div class="table-responsive table-container">  
    <table class="table">  
      <thead>  
        <tr>  
          <th>First Name</th>  
          <th>Last Name</th>
          <th>Employee ID</th>
        </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let user of users">  
          <td>{{user.FirstName}}</td>  
          <td>{{user.LastName}}</td>  
          <td>{{user.EmployeeID}}</td>         
          <td>  
            <button (click)="deleteUser(user)" class="btn btn-info">Delete</button>  
            <button (click)="editUser(user)" style="margin-left: 20px;" class="btn btn-info">Edit</button>  
          </td>  
        </tr>  
      </tbody>  
    </table>  
  </div>  
</div>