<div class="col-md-6">  
    <br/>  
    <br/>  
  <form [formGroup]="addForm" novalidate class="form">
      <div class="form-group row">  
          <div class="col-md-2"><label for="project" >Project:</label></div>
          <ng-select2 [data]="searchProjects" [placeholder]="'Search...'" [width]="300">	
          </ng-select2>     
        </div>  
    <div class="form-group">  
      <label for="itemDesc">Task:</label>  
      <input formControlName="itemDesc" placeholder="Task" name="itemDesc" class="form-control" id="itemDesc">  
      <div class="alert alert-danger" *ngIf="addForm.get('itemDesc').hasError('required') && addForm.get('itemDesc').touched">  
        Item Description is required. 
      </div>  
    </div>
    <div class="form-group">  
      <label for="setasparent" class="checklabel">set Parent task</label>  
      <input type="checkbox" formControlName="setasparent" placeholder="" name="setasparent" class="form-control" id="setasparent" />    
    </div>  
    <div class="form-group">  
        <label for="points">Priority :</label>  
        <input type="range" name="points" min="0" max="30" name="Priority" value=0>
        <div class="alert alert-danger" *ngIf="addForm.get('Priority').hasError('required')">
          Please set priority.  
        </div>  
      </div>
      <div class="form-group row">  
          <div class="col-md-2"><label for="parentTask" >Parent Task:</label></div>
          <ng-select2 [data]="searchParentTasks" [placeholder]="'Search...'" [width]="300">	
          </ng-select2>     
        </div> 
    <div class="form-group">  
      <label for="startdate">Start Date:</label>  
      <input formControlName="itemRate" type="date" placeholder="Start Date" name="startdate" class="form-control" id="startdate">
    </div>
    <div class="form-group">  
        <label for="enddate">End Date:</label>  
        <input formControlName="itemRate" type="date" placeholder="End Date" name="startdate" class="form-control" id="enddate">
      </div>
      <div class="form-group row">  
          <div class="col-md-2"><label for="user" >User:</label></div>
          <ng-select2 [data]="searchUsers" [placeholder]="'Search...'" [width]="300">	
          </ng-select2>     
        </div> 
  
    <button class="btn btn-success" [disabled]='addForm.invalid' *ngIf="btnvisibility" (click)="onSubmit()">Add Task</button>  
    <button class="btn btn-success" [disabled]='addForm.invalid' *ngIf="!btnvisibility" (click)="onUpdate()">Reset</button>  
  
  </form>  
</div>