<div class="col-md-6">  
    <br/>  
    <br/>    
    <form [formGroup]="addForm" novalidate class="form">  
        
    
      <div class="form-group">  
        <label for="supplierName">First Name:</label>  
        <input formControlName="supplierName" placeholder="First Name" name="supplierName" class="form-control" id="supplierName">  
        <div class="alert  alert-danger" *ngIf="addForm.get('supplierName').hasError('required') && addForm.get('supplierName').touched">  
          Supplier Name is required.  
        </div>  
      </div>  
    
      <div class="form-group">  
        <label for="supplierAddress">Last Name:</label>  
        <input formControlName="supplierAddress" placeholder="Last Name" name="supplierAddress" class="form-control" id="supplierAddress">  
        <div class="alert  alert-danger" *ngIf="addForm.get('supplierAddress').hasError('required') && addForm.get('supplierAddress').touched">
          Item Rate is required.
        </div>  
      </div>
      <div class="form-group">  
        <label for="supplierNo">Employee ID:</label>  
        <input formControlName="supplierNo" placeholder="Employee ID" name="supplierNo" class="form-control" id="supplierNo">  
        <div class="alert  alert-danger" *ngIf="addForm.get('supplierNo').hasError('required') && addForm.get('supplierNo').touched">  
          Employee ID is required and maximum characters allowed is 4.  
        </div>
      </div>
    
      <button class="btn btn-success" [disabled]='addForm.invalid' *ngIf="btnvisibility" (click)="onSubmit()">Add</button>  
      <button class="btn btn-success"   (click)="onUpdate()">Reset</button>    
       
    </form>  
  </div>
  <app-user-list></app-user-list>